# Python
__pycache__/
*.py[cod]
*$py.class

# Venv
.venv/
venv/
ENV/

# IDEs
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# Credentials
src/google_tasks_overlay/credentials.json
/home/keiaa/.local/share/google-tasks-overlay/
